/*HEADER*/
.navbar:not(.top-nav-collapse) {
    background: #bf8293 !important;
}
.top-nav-collapse {
    background-color: #bf8293 !important;
}

h1 {
    letter-spacing: 8px;
}
h5 {
    letter-spacing: 3px;
}
.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

/*TEXT*/
h2{
    font-family: 'Sofia', cursive;
    font-size: 50px;
}

p{
    font-family: 'Didact Gothic', sans-serif;
}

li{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px; 
    list-style-type: none;
}


/*SKILLS*/
.skills-box{
    background: rgba(247, 247, 247, 0.3);
}

#skills-container{
    padding-top: 5.5em;
}

card.mb-4:hover{
    background: #030001;
}



/*MAIN*/
#about-me-section{
    background-image: url("../assets/images/mobile/aboutme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

h2{
    margin-top: 1em;
}

/*SKILLS*/
#skills{
    background-image: url("../assets/images/skills.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/*FOOTER*/
footer.page-footer.font-small{
    background-color: #94b1a3;
}

i:hover{
    background: rgb(226, 121, 203);
    
}


/*MEDIA QUERY*/
@media (min-width: 1300px) {
    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }

    #about-me-section{
        background-image: url("../assets/images/aboutme.jpg");
    }
      
}
@media (min-width: 1300px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px;
    }
}